
.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: smaller;
  }
  
  .dropdown-toggle {
    background-color: #F8F8FA;
    border: 1px solid #ccc;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    /* justify-content: space-between; */
    width: fit-content;
    border-radius: 4px;
  }
  

  .dropdown-icon {
    margin-left: 8px;
    width: 15px;
    height: 15px;
  }

  .display-icon {
    margin-right: 8px;
    width: 15px;
    height: 15px;
  }
  

  .dropdown-menu {
    position: absolute;
    top: 130%;
    left: 0;
    background-color: #F8F8FA;
    border: 1px solid #e1e1e1;
    padding: 12px;
    width: 250px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
  }

  .display-text{
    font-weight:600;
    font-size: smaller;
    color: #333;
  }
  
  /* Option container styling */
  .dropdown-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
    color: #a19c9c;
    font-weight: 500;
  }

  .dropdown-select {
    font-size: 13px;
    padding: 4px 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    width: 120px;
  }
  

  .dropdown-toggle:hover {
    background-color: #e9e9e9;
  }
  
  